<template>
  <div id="app">
    <h1>Vue Todo</h1>
    <input v-model="newTodo.text" type="text" @keyup.enter="todoAdd" placeholder="Too much things todo" />
    <ul>
      <li v-for="(todo, index) in rtodos" :key="index" :class="{isDone: todo.done}">{{ todo.text }} <button @click="todoDone(index)">{{ (todo.done ? 'Und': 'D') }}one</button><button @click="todoRemove(index)">Remove</button></li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      newTodo: {
        id: 0,
        text: '',
        done: false,
      },
      lastId: 1,
      todos: [ { id: 1, text: 'Insert your todo', done: false } ]
    }
  },
  computed: {
    rtodos() { return [...this.todos].reverse() }
  },
  methods: {
    todoAdd() {
      const newTodo = {...this.newTodo}
      this.id++
      newTodo.id = this.id
      this.todos.push(newTodo)
      this.newTodo.text = ''
    },
    todoDone(index) {
      index = this.todos.length - index - 1
      this.todos[index].done = !this.todos[index].done
    },
    todoRemove(index) {
      index = this.todos.length - index - 1
      this.todos.splice(index, 1)
    }
  },
}
</script>

<style>
.isDone {
  text-decoration: line-through;
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
